<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jichange_app">

    <application
        android:label="Jichange App"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:supportsRtl="true">
    </application>
    
    
    

</manifest>